.container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.formStyles {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #7ec5f8;
  border-radius: 5px;
  border: 2px solid #e9bb03;
}

.labelStyles {
  display: flex;
  flex-direction: column;
}

.inputStyles {
  padding-left: 10px;
  margin-top: 5px;
  font-size: 16px;
  height: 25px;
  background-color: #eef389;
  border: 2px solid #e9bb03;
  border-radius: 5px;
  outline: none;
  transition: all 250ms linear;
}

.inputStyles:hover,
.inputStyles:focus {
  box-shadow: 0 0 10px 0 white inset, 0 0 10px 4px grey;
}

.btnAdd, .btnLog {
  font-size: 18px;
  width: auto;
  height: 40px;
  transition: all 250ms linear;
  background-color: #eef389;
  border-radius: 5px;
  border: 2px solid #e9bb03;
}


.btnAdd:hover,
.btnAdd:focus,
.btnLog:hover,
.btnLog:focus {
  background-color: #e9bb03;
  transform: scale(1.025);
  box-shadow: 0 0 10px 0 #e9bb03 inset, 0 0 10px 4px grey;
  border: 2px solid #eef389;
}